<ul class="wrapper" [ngClass]="className" (mouseenter)="onWrapperHover()" (mouseleave)="onWrapperLeave()">
    <li class="placeholder">
        <img [src]="activeSelect.url" [alt]="activeSelect.value" width="22" height="14" />
        <span>{{ activeSelect.text }}</span>
    </li>
    <div class="options bg-indigo-400" [ngClass]="{ activeOptions: isOpenDropdown }">
        <li *ngFor="let option of options" (click)="onSelectClick(option)" [value]="option.value">
            <img [src]="option.url" [alt]="option.value" width="22" height="14" />
            <span>{{ option.text }}</span>
        </li>
    </div>
</ul>
