.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50px;
}
.languageDropdown {
    position: absolute;
    z-index: 50;
    top: 50%;
    transform: translate(0, -50%);
    right: 50px;
}
.placeholder {
    padding: 10px;
}
.options {
    padding: 10px;
    border-radius: 0 0 10px 10px;
    transform: scale(0);
    transition: transform 0.1s;
}
.activeOptions {
    transform: scale(1);
}
li {
    &:hover {
        transition: all 0.2s;
        opacity: 0.5;
    }
    img {
        margin-right: 10px;
    }
    cursor: pointer;
    display: flex;
    align-items: center;
}
