<app-alert *ngIf="alert.isVisible" [color]="alert.color">{{ alert.message }}</app-alert>

<form [formGroup]="registerForm" (input)="onChange()" (ngSubmit)="onSubmit()">
    <div class="mb-3">
        <app-input [control]="registerForm.controls.name" [label]="'Name'" [placeholder]="'Enter Name'"></app-input>
    </div>
    <div class="mb-3">
        <app-input [control]="registerForm.controls.email" [label]="'Email'" [placeholder]="'Enter Email'"></app-input>
    </div>
    <div class="mb-3">
        <app-input [control]="registerForm.controls.age" [label]="'Age'" [type]="'number'" [placeholder]="'Enter Age'"></app-input>
    </div>
    <div class="mb-3">
        <app-input [control]="registerForm.controls.password" [label]="'Password'" [type]="'password'" [placeholder]="'Enter Password'"></app-input>
    </div>
    <div class="mb-3">
        <app-input
            [control]="registerForm.controls.confirmPassword"
            [label]="'Confirm Password'"
            [type]="'password'"
            [placeholder]="'Confirm Password'"
        ></app-input>
    </div>
    <div class="mb-3">
        <app-input
            [control]="registerForm.controls.phone"
            [label]="'Phone'"
            [type]="'text'"
            [placeholder]="'Enter Phone'"
            [format]="'+000(00)00-00-000'"
        ></app-input>
    </div>
    <button
        [disabled]="registerForm.invalid"
        type="submit"
        class="block w-full bg-indigo-400 text-white py-1.5 px-3 rounded transition hover:bg-indigo-500 disabled:opacity-50 disabled:bg-indigo-400"
    >
        Submit
    </button>
</form>
